<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919093215861-3u84v1vd8sgfqm3pk9ad1mmjlerpskd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919093215861-3u84v1vd8sgfqm3pk9ad1mmjlerpskd3</string>
	<key>API_KEY</key>
	<string>AIzaSyCBpGA-2ZDfEFoL05PxEQogc0jHUkl0dsc</string>
	<key>GCM_SENDER_ID</key>
	<string>919093215861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bitbakery.MindOverMatter</string>
	<key>PROJECT_ID</key>
	<string>mind-676ca</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-676ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919093215861:ios:3d32605b01b429ddda6e3c</string>
</dict>
</plist>